

header {
    width:100%;
    height: 38rem;
    background-color:white;
    background-image: url("https://nails.newsela.com/s3/newsela-media/article_media/2019/10/be-a-good-friend-95226bb9.jpg?crop=0%2C262%2C2498%2C1667&height=590&horizontal_focal_point=center&vertical_focal_point=center&width=905");
    position: absolute;
}

p {
    align-items: center;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #D4AFCD;
    width: 100%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

 
.menu {
    min-width: 100%;
    position: absolute;
}