
.background {
    background-color: whitesmoke;
    padding: 1rem;
    padding-top: 20px;
}

.carrusel {
    position: relative;
    padding: 0.5em;
    margin: 0.5rem;
}

.row card {
    padding: 5rem;
    margin: 5rem;
}


card {
    border: rgb(27, 27, 27);
}
.carouselslidecarousel-fade {
    width: 10rem ;
    height: 30rem ;
}

.informa {
    padding: 2rem;
    margin: 25px;
    align-items: center;
    color:whitesmoke;
    background-image: url(img/plags.JPG);
    background-repeat: no-repeat;
}

.row {
  color: rgb(51, 49, 48);
}

img {
    height: 500px ;
    width:500px ;
}

img .row {
    height: 200px ;
    width:200px ;
}


.row :hover {
    color: rgb(129, 50, 231);
}

.card :hover {
 color: rgb(129, 50, 231);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.list-group :hover {
 color:rgb(36, 120, 194)
}
img .list-group-itemlist-group-item-actionactive {
    height: 10px;
    width: 10px;
}

.tot {
    width: 300px;
    height: 100px;
    background-color: rgb(212, 239, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: cornsilk;
    position:sticky;
}


h1 {
    color:rgb(132, 49, 240);
}
h2 {
    color: rgb(140, 69, 231);
}
h4 {
    color:rgb(133, 70, 216);
}