
.background {
    background-color: white;
    padding: 2rem;
    padding-top: 50px;
}

.carrusel {
    position: relative;
    padding: 0.5rem;
    margin: 0.5rem;
}

 .row {
    padding: 0.5rem;
    margin: 0rem;
}


card {
    border: rgb(27, 27, 27);
}
.carouselslidecarousel-fade {
    width: 10rem ;
    height: 30rem ;
}

.informa {
    align-items: center;
    padding: 3rem;
    margin: 25px;
    color:whitesmoke;
    background-image: url(img/visa.JPG);
    position: relative;
    background-repeat: no-repeat;
}

.row {
  color: rgb(51, 49, 48);
}



img{
    height: 400px ;
    width:400px ;
}
img .col {
    height: 200px ;
    width:200px ;
}

.card {
    background-color: rgb(131, 243, 219);
}
 
.row :hover {
    color: rgb(129, 50, 231);
}

.card :hover {
 color: rgb(129, 50, 231);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.list-group :hover {
 color:rgb(36, 120, 194)
}


p .col-sm-6 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color:rgb(67, 66, 70);
}
h2 {
    color: rgb(69, 107, 231);
}
h4 {
    color:rgb(73, 118, 202);
}
h5 {
    color: grey;
}


.modal {
    position: relative;
    transition: all 2s;

}

.leCarro {
    background-image: url(img/carrito.jpg) ;
    width: 55px;
    height: 52px;
    border-radius: 50%;
    border-style: dotted;
    border-color: violet;

}
.leCarro {
    display: flex;
    justify-content: left;
    align-items: right;
    height: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.modal-container {
    width: 100%;
    height: 100 vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color:blueviolet;
    opacity: 0;
    visibility: hidden;
    transition: all .3 s ease of entry;
    display: flex;
    justify-content: center;
    text-align: center;
}

#modal {
    width: 400px;
    height :  500px ;
    padding :  16 px ;
    background-color : white;
    border-radius :  10px ;
}

.modal-dialog {
    opacity :  1 ;
    visibility : visible;
}

.btnbtn-primary{
    border :  2px ;
    color: green;
}
.btnbtn-secondary {
    border:   2px ;
    color: red;
}

